<!--Contact modal-->
<div id="contact-modal" class="modal-content-container">
  <div class="standalone-modal-background">
    <div class="standalone-modal-content">
      <button class="clear-button close-modal-button" id="contact-close-modal">x</button>
      <div class="centered-content">
        <h1 class="modal-title">Contact</h1>
        <h3 class="modal-description">
          Artollo is a chatty bunch and looks forward to hearing from you
        </h3>
        <input type="text" class="modal-input" placeholder="Name" />
        <input type="text" class="modal-input" placeholder="Email" />
        <input type="text" class="modal-input" placeholder="Subject"/>
        <textarea class="modal-textarea" placeholder="Message"></textarea>
        <button class="submit-button"><span class="submit-button-text">Send</span></button>
      </div>
    </div>
  </div>
</div>
