<footer>
  <section class="footer">
    <div class="footer-triangle"></div>
    <div class="footer-triangle-upside"></div>
    <h2 class="footer-site-title">artollo</h2>
    <div class="right-side-container">
      <div class="social-icon-container">
        <img class="social-icon" src="images/social-icons/twitter.png" />
        <img class="social-icon" src="images/social-icons/facebook.png" />
        <img class="social-icon" src="images/social-icons/instagram.png" />
      </div>
      <button class="footer-button clear-button">contact</button>
      <button class="footer-button clear-button">newsletter</button>
    </div>
  </section>
</footer>
