<div id="music-modal" class="modal-content-container">
  <div class="standalone-modal-background">
    <div class="standalone-modal-content">
      <button class="clear-button close-modal-button" id="music-close-modal">x</button>
      <div class="centered-content">
        <img class="album-modal-image" src="images/albums/process.jpg">
        <article class="album-description">
          Artollo’s first album was released to widespread critical acclaim. Mixing a broad
          swath of influences Artollo achieves a unified vision for this diverse album. 
          This album established itself as classic the day it was released.
        </article>
        <table class="album-table" id="album-table">
          <tr>
            <th class="album-table-header"></th>
            <th class="album-table-header"></th>
            <th class="album-table-header"></th>
            <th class="album-table-header"></th>
          </tr>
          <tr>
            <td class="album-td">3:15</td>
            <td class="album-td">Relax</td>
            <td class="album-td">Artollo</td>
            <td class="album-td">Sheet music</td>
          </tr>
          <tr>
            <td class="album-td active-song">3:15</td>
            <td class="album-td active-song">Breathe in</td>
            <td class="album-td active-song">Artollo</td>
            <td class="album-td active-song">Sheet music</td>
          </tr>
          <tr>
            <td class="album-td">3:15</td>
            <td class="album-td">Ocean</td>
            <td class="album-td">Artollo</td>
            <td class="album-td">Sheet music</td>
          </tr>
          <tr>
            <td class="album-td">3:15</td>
            <td class="album-td">Current</td>
            <td class="album-td">Artollo</td>
            <td class="album-td">Sheet music</td>
          </tr>
          <tr>
            <td class="album-td">3:15</td>
            <td class="album-td">Waiting</td>
            <td class="album-td">Artollo</td>
            <td class="album-td">Sheet music</td>
          </tr>
          <tr>
            <td class="album-td">3:15</td>
            <td class="album-td">Orpheum Theatre</td>
            <td class="album-td">Artollo</td>
            <td class="album-td">Sheet music</td>
          </tr>
          <tr>
            <td class="album-td">3:15</td>
            <td class="album-td">Backwards</td>
            <td class="album-td">Artollo</td>
            <td class="album-td">Sheet music</td>
          </tr>
          <tr>
            <td class="album-td">3:15</td>
            <td class="album-td">Process</td>
            <td class="album-td">Artollo</td>
            <td class="album-td">Sheet music</td>
          </tr>
          <tr>
            <td class="album-td">3:15</td>
            <td class="album-td">Completely</td>
            <td class="album-td">Artollo</td>
            <td class="album-td">Sheet music</td>
          </tr>
          <tr>
            <td class="album-td">3:15</td>
            <td class="album-td">Tomorrow</td>
            <td class="album-td">Artollo</td>
            <td class="album-td">Sheet music</td>
          </tr>
        
        </table>
      </div>
    </div>
  </div>

</div>
