<nav>
  <div class="navbar-content">
    <h2 class="site-title-container">
      <a class="site-title">
        Artollo
      </a>
    </h2>
    <div class="options-menu" id="options-menu">
      <span class="option-bar"></span>
      <span class="option-bar"></span>
      <span class="option-bar"></span>
    </div>
    <ul class="navbar-items-container">
      <li class="navbar-item-container">
        <a class="navbar-item" href="/">
          news
        </a>
      </li>
      <li class="navbar-item-container">
        <a class="navbar-item" href="/music">
          music
        </a>
      </li>
      <li class="navbar-item-container">
        <a class="navbar-item" href="/shows">
          shows
        </a>
      </li>
      <li class="navbar-item-container">
        <a class="navbar-item" href="us">    
          us
        </a>
      </li>
    </ul>
  </div>
</nav>
