<div id="navbar-modal" class="modal-container">
  <div class="modal-background">
    <div class="navbar-modal-content">
      <button class="clear-button" id="navbar-close-modal">x</button>
      <h2 class="navbar-modal-site-title">
        <a href="/" class="navbar-modal-site-title-text">Artollo</a>
      </h2>
      <h3 class="mobile-navbar-link-container">
        <a href="/" class="navbar-list-element-style">
          news
        </a>
      </h3>
      <h3  class="mobile-navbar-link-container">
        <a href="/music" class="navbar-list-element-style">
          music
        </a>
      </h3>
      <h3 class="mobile-navbar-link-container">
        <a href="/shows" class="navbar-list-element-style">
          shows
        </a>
      </h3>
      <h3 class="mobile-navbar-link-container">
        <a href="/shows" class="navbar-list-element-style">
          us
        </a>
      </h3>
    </div>
  </div>
</div>
