<!--Newsletter modal-->
<div id="newsletter-modal" class="modal-content-container">
  <div class="standalone-modal-background">
    <div class="standalone-modal-content">
      <button class="clear-button close-modal-button" id="newsletter-close-modal">x</button>
      <div class="centered-content">
        <h1 class="modal-title newsletter-header">Newsletter</h1>
        <h3 class="modal-description">
          Get the latest news from Artollo
        </h3>
        <input type="text" class="modal-input" placeholder="Name" />
        <input type="text" class="modal-input" placeholder="Email" />
        <button class="submit-button"><span class="submit-button-text">Sign up</span></button>
        <h4 class="unsub-link-container">        
          <a class="unsub-link">Unsubscribe</a>
        </h4>
      </div>
    </div>
  </div>
</div>
