<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/universal.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/navbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/footer.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/contact-modal.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/newsletter-modal.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/us.css" />
  </head>
  <body>
    <%- include components/navbar-modal.html%>
    <%- include components/navbar.html %>
    <div class="main-container">
      <div class="main-content-container">
        <section class="group-about">
          <h1 class="bio-title">Artollo</h1>
          <article class="bio-description">
            Artollo is musical collective that morphs and change around the brother and sister 
            duo that founded it. The collective creates large electronic pieces, inventive 
            interpretations of popular music, and reinterpretations of Mozart, Bach, and Chopan.
            Artollo posts their most recent work on YouTube, Instagram, and often livestream
            their creative process on Twitch.
          </article>
        </section>
        <section class="artist-profile">
          <img class="artist-image" src="images/gray-scale-bassist.png">
          <section class="artist-information">
          <h3 class="artist-data-line">
            <label class="artist-data-line-label">Name: </label>
            Jennifer Artollo
          </h3>
          <h3 class="artist-data-line">
            <label class="artist-data-line-label">Instruments: </label>
            Bass, Piano, Computer
          </h3>
          <h3 class="artist-data-line">
            <label class="artist-data-line-label">Side Projects: </label>
            Harmonic Departure
          </h3>
          <article class="artist-summary">
            Jenny Artollo loves music. At age 2 she begged
            her parents for piano, and never looked back. 
            She greatly admires music from all genres, but
            is currently lost in Gnawa music. 
          </article>
          </section>
        </section>
        <section class="artist-profile">
          <img class="artist-image-right" src="images/black-and-white-man-person-musician.png">
          <section class="artist-information-left">
          <h3 class="artist-data-line">
            <label class="artist-data-line-label">Name: </label>
            Henry Artollo
          </h3>
          <h3 class="artist-data-line">
            <label class="artist-data-line-label">Instruments: </label>
            Violin, Piano, Computer
          </h3>
          <h3 class="artist-data-line">
            <label class="artist-data-line-label">Side Projects: </label>
            Everything Counts
          </h3>
          <article class="artist-summary">
            Henry at age 4 was motivated to create msuic as 
            he watched his older sister play a Chopan’s 
            Nocturne Op. 48 No. 2. He loved the expression
            of violin and power of piano. Henry is currently
            consuming all things associated with Russian
            folk music. 
          </article>
          </section>
        </section>
      </div>
    </div>
    <%- include components/footer.html %>
  </body>
</html>
