/*music.css*/

.music-title{
  text-align: center;
  font-family: ibm plex mono;
  font-style: italic;
  font-size: 100px;
  font-weight: 500;
  margin-bottom: 90px;
  margin-top:90px;
}

.albums{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}

.album{
  width:301px;
  height:auto;
  cursor:pointer;
}
.album-cover{
  width:100%;
}

.album-title{
  text-align: center;
  font-family: ibm plex mono;
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
}

.album-description-preview{
  font-size: 25px;
  font-family: dosis;
  font-weight: 400;
}

footer{
  position:absolute;
  bottom:0px;
}

/*START music modal styles*/




.album-modal-image{
  width:50%;
  margin:auto;
}

.centered-content{
  text-align:center;
  padding-left:30px;
  padding-right:30px;
}

.album-description{
  text-align:left;
  font-size:25px;
  font-family:dosis;
  margin-bottom:30px;
}

.album-table{
  border-collapse:collapse;
  width:100%;
}

.album-table-header{
  border-bottom: 2px solid #012e08;
}
.album-td{
  font-family: dosis;
  font-weight: 400;
  background-color: #e2e2e2;
  font-size: 25px;
  padding:5px;
}

.active-song{
  background-color: #f1f1f1;
}
.active-modal{
  display:block;
}
/*END music modal styles*/

@media (min-width:320px){
.album{
  width:100%;
  margin-bottom:30px;
}

.album-td{
  font-size:20px;
}
.album-modal-image{
  width:75%;
}
footer{
  position:relative;
}
}
@media (min-width:480px){
  .album-td{
    font-size:25px;
  }
  .album-modal-image{
    width:75%;
  }
}
@media (min-width:768px){
  .album-modal-image{
    width:50%;
  }

.album{
  width:339px;
}

}
@media (min-width:1024px){
.albums{
  justify-content: space-between;
}
.album{
  width:301px;
}

footer{
  position:absolute;
  bottom:0px;
}
}
