/*navbar.css*/
nav{
    height: 90px;
    width: 100%;
    background-color: #e2e2e2;
    position: relative;
    display: table;
    top: 0px;
    position: sticky;
    z-index: 5;
    border-bottom: solid 2px #012e08;

}
.option-bar{
  width: 30px;
  height: 2px;
  background-color: #012e08;
  display: block;
  margin-top: 10px;
}

.options-menu{
  display: block;
  float: right;
  position: relative;
  top: 15px;
}


li{
  list-style-type:none;
}

.site-title-container{
    float: left;
    position: relative;
    top: 10px;
}

.navbar-content{
  width: 1024px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  margin: auto;
  display: table;

}

.site-title{
  font-family: ibm plex mono;
  font-style: italic;
  font-weight: 300;
  font-size: 45px;
}
.navbar-items-container{
  float:right;
  position:relative;
  top:20px;
}
.navbar-item-container{
  margin-left:15px;
  display:inline;
}
.navbar-item{
  font-family: dosis;
  font-weight: 400;
  font-size: 30px;
  text-transform: capitalize;
  text-decoration: none;  
  color:#1c1c1c;
}

.modal-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 100;
}

.modal-background{
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
}

#navbar-close-modal{
  float: right;
  font-size: 55px;
  margin-bottom: -15px;
  margin-right: 30px;
}

.navbar-modal-site-title-text{
  font-family: ibm plex mono;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  font-size: 60px;
  color: #1c1c1c;
    text-decoration:none;
}

.navbar-modal-site-title{
  text-align:center;
  color: #1c1c1c;
  float:left;
  width:100%;
}

.navbar-list-element-style{
    font-family: dosis;
    font-weight: 400;
    text-decoration: none;
    color: #1c1c1c;
    text-decoration:none;
    font-size:40px;
}

.mobile-navbar-link-container{
  text-align:center;
  color: #1c1c1c;
  margin-top:25px;
  float:left;
  width:100%;
}


@media (min-width:320px){
  .navbar-content{
    width: 260px;  
  }
}
@media (min-width:480px){
  .navbar-content{
    width: 420px;  
  }
}
@media (min-width:768px){
  .navbar-content{
    width: 708px;  
  }
}
@media (min-width:1024px){
.navbar-content{
  width: 964px;  
}
