@font-face{
  font-family: Dosis;
  font-weight:200;
  src: url("/fonts/music fonts/Dosis/Dosis-ExtraLight.ttf")format("truetype");
}
@font-face{
  font-family: Dosis;
  font-weight:300;
  src: url("/fonts/music fonts/Dosis/Dosis-Light.ttf")format("truetype");
}
@font-face{
  font-family: Dosis;
  font-weight:400;
  src: url("/fonts/music fonts/Dosis/Dosis-Regular.ttf")format("truetype");
}
@font-face{
  font-family: Dosis;
  font-weight:500;
  src: url("/fonts/music fonts/Dosis/Dosis-SemiBold.ttf")format("truetype");
}
@font-face{
  font-family: Dosis;
  font-weight:700;
  src: url("/fonts/music fonts/Dosis/Dosis-Bold.ttf")format("truetype");
}
@font-face{
  font-family: Dosis;
  font-weight:900;
  src: url("/fonts/music fonts/Dosis/Dosis-ExtraBold.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:100;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-Thin.ttf")format("truetype");
}
@font-face{
  font-family:IBM Plex Mono;
  font-weight:100;
  font-style:italic;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-ThinItalic.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:200;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf")format("truetype");
}
@font-face{
  font-family:IBM Plex Mono;
  font-weight:200;
  font-style:italic;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLightItalic.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:200;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:200;
  font-style:italic;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLightItalic.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:300;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:300;
  font-style:italic;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-LightItalic.ttf")format("truetype");
}


@font-face{
  font-family:IBM Plex Mono;
  font-weight:400;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:400;
  font-style:italic;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf")format("truetype");
}


@font-face{
  font-family:IBM Plex Mono;
  font-weight:500;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:500;
  font-style:italic;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-MediumItalic.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:600;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:600;
  font-style:italic;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-SemiBoldItalic.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:800;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf")format("truetype");
}

@font-face{
  font-family:IBM Plex Mono;
  font-weight:800;
  font-style:italic;
  src: url("/fonts/music fonts/IBM_Plex_Mono/IBMPlexMono-BoldItalic.ttf")format("truetype");
}

body{
  margin: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

.footer-triangle{
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 90px solid #012e08;
  display: inline;
  /* top: -18px; */
  position: relative;
  float: left;
}

.footer-triangle-upside{
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 90px solid #012e08;
  display: inline;
  /* top: 91px; */
  position: relative;
  float: left;
}


h1, h2, h3, h4, h5, h6, ul, li{
  margin:0px;
  padding:0px;
}

.clear-button{
  background:none;
  outline:none;
  border:none;
}

.color-black-1{
  color:#1c1c1c;
}

.modal-container{
  display:none;
}

.active-modal{
  display:block;
}

.featured-image{
  width:100%;
}

.main-container{
  margin:auto;
}
.more-button{
width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 150px solid #012e08;
    display: inline;
    /* top: 91px; */
    position: relative;
    float: left;
    left: 41%;
    margin-bottom: 90px;
}


.more-button-text{
  top: -130px;
  position: relative;
  left: -32px;
  font-family: dosis;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  font-style: italic;
}

.main-content-container{
  padding-right:30px;
  padding-left:30px;
}

/*START Default Modal styles*/
.standalone-modal-background{
  background-color: #00000050;
  width:100%;
  height:100%;
}

.close-modal-button{
  font-size: 50px;
  float: right;
  top: 0px;
  position: relative;
  left: -30px;
}

.modal-content-container{
  display:none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.standalone-modal-content{
  margin: auto;
  background-color:white;
  padding-bottom:30px;
}
/*END Default Modal Styles*/

@media (min-width:320px){
  .main-container{
    width:320px;
  }
  .standalone-modal-content{
    width:100%;
    height:100%;
  }

}
@media (min-width:480px){
  .main-container{
    width:480px;
  }

}
@media (min-width:768px){
  .main-container{
    width:768px;
  }
  .standalone-modal-content{
    width:768px;
    height:auto;
  }

}
@media (min-width:1024px){
  .main-container{
    width:1024px;
  }
  .standalone-modal-content{
    width:1024px;
  }

}

